@use "styles/variable" as var;

.PostList {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  list-style: none;
  width: 100%;

  .PostTile {
    border-radius: 5px;
    padding: 1rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    .TileTitle {
      color: var(--title);
      h2 {
        max-height: 8rem;
        overflow: hidden;
        text-overflow: ellipsis;
        &:hover {
          text-decoration: underline;
        }
      }
    }

    .TileDate {
      color: var(--subtitle);
    }

    .TilePreview {
      overflow: hidden;
      color: var(--foreground);
    }

    .TileTags {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      justify-content: space-between;
    }
  }
}
