@use "styles/variable" as var;
@use "styles/lib";

#Pager {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 2rem;
  padding: 0 1rem;
  font-size: 125%;
}

.PagerItem {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Visible {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 5em;
  height: 2em;
  border-radius: 8px;
  color: var.$dark;
}

#Prev {
  color: var(--prevfg);
  transition-property: background;
  transition-duration: 0.15s;
  transition-timing-function: ease;
  &:hover {
    background: var(--hover)
  }
}

#Next {
  background: var(--nextbg);
  color: var(--background);
  transition-property: border, background, color;
  transition-duration: 0.15s;
  transition-timing-function: ease;
  &:hover {
    border: 1px solid var(--nextbg);
    background: var(--background);
    color: var(--nextbg);
  }
}

.Invisible {
  width: 5em;
  height: 2em;
}
