@use "styles/variable" as var;
//@use "styles/init";

#HeaderBox {
  display: flex;
  justify-content: center;
  width: 100%;
}

header.Desktop {
  @media (max-width: var.$media_border) {
    display: none;
  }
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-between;
  max-width: var.$inner_width;
  width: 100%;
  margin: 3rem;

  #Title {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 125%;
    h1 {
      color: var(--title);
    }
    p {
      color: var(--subtitle);
    }
  }

  #Icons {
    display: flex;
    gap: 20px;
  }

}

header.Mobile {
  @media (min-width: var.$media_border) {
    display: none;
  }
  top: 0;
  width: 100vw;
  height: 40vh;
  display: flex;
  flex-flow: row;
  justify-content: space-evenly;
  align-items: center;
  gap: 10vw;
  padding: 10vw;
  background: var.$dark;
  color: var.$white;

  p {
    color: var.$grad-2;
  }
  li {
    list-style: none;
    font-size: 120%;
    margin: 1em 0;
  }
}
