@use "styles/variable" as var;
@use "styles/lib";

.TileTags {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  a:hover {
    text-decoration: underline;
  }
  .TileTag {
    a {
      color: #3e8fb0;
    }
    padding: 0 0.5em;
    border: 1px solid var(--line);
    border-radius: 5px;
    @include lib.title_color;
    height: 1.75em;
  }
}
