:root {
  --fg: #1e1e20;
  --bg: #e7e7ea;
  --fg75: color-mix(in lch, var(--fg) 75%, var(--bg));
  --fg50: color-mix(in lch, var(--fg) 50%, var(--bg));
  --fg25: color-mix(in lch, var(--fg) 25%, var(--bg));
  --fg10: color-mix(in lch, var(--fg) 10%, var(--bg));
  --accent1: #bf3939;
  --accent2: #429989;
  --accent: var(--accent1);
  --font-mono: "ui-monospace", "SFMono-Regular", "SF Mono", "Menlo", "Monaco",
    "Consolas", "monospace";
}

@media (prefers-color-scheme: dark) {
  :root {
    --fg: #e7e7ea;
    --bg: #1e1e20;
    --accent: var(--accent2);
  }
}

body {
  font-family:
    "Inter Variable", "Helvetica Neue", "Helvetica",
    "Apple Color Emoji", "Segoe UI Emoji", "Noto Color Emoji",
    "Segoe UI Symbol", "Android Emoji", "EmojiSymbols", "-apple-system",
    "BlinkMacSystemFont", "Segoe UI", "Roboto", "Noto Sans", sans-serif;
  background: var(--bg);
  color: var(--fg);
  line-height: 1.75;
  margin: 0 auto;
  display: flex;
  padding-left: 1rem;
  padding-right: 1rem;
  flex-direction: column;
  justify-content: space-between;
  max-width: 48rem;
  min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  line-height: 1.5;
  color: var(--fg);
}

h1 {
  font-size: 1.875rem;
}

h2 {
  font-size: 1.625rem;
}

h3 {
  font-size: 1.25rem;
}

h4 {
  font-size: 1.125rem;
}

h5,
h6 {
  font-size: 1rem;
}

blockquote {
  color: var(--fg75);
  margin: 1.5rem 0;
  padding: 0 1.5rem;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 0.2rem;
    left: 0;
    background: var(--fg25);
  }
}

.budoux {
  word-break: keep-all;
  overflow-wrap: anywhere;
}
