@import "@/styles/uchu.css";
@import "@/styles/uchu-expanded.css";

:root {
  --fg: var(--uchu-yin-9);
  --bg: var(--uchu-yin-1);
  --fg75: var(--uchu-yin-8);
  --fg25: var(--uchu-yin-6);
  --fg10: var(--uchu-yin-2);
  --accent: var(--uchu-red);
  --font-mono: "ui-monospace", "SFMono-Regular", "SF Mono", "Menlo", "Monaco",
    "Consolas", "monospace";
  --ui-border: var(--fg75);
  --item-border: var(--fg25);
  --code-bg: var(--uchu-yang);
}

@media (prefers-color-scheme: dark) {
  :root {
    --fg: var(--uchu-yin-1);
    --bg: var(--uchu-yin-9);
    --fg75: var(--uchu-yin-2);
    --fg25: var(--uchu-yin-6);
    --fg10: var(--uchu-yin-8);
    --accent: var(--uchu-blue-3);
    --code-bg: var(--uchu-yin);
  }
}

html {
  font-size: 16px;
  font-family: "IBM Plex Sans Variable", sans-serif;
  font-feature-settings: "palt";
  line-height: 1.75;
  background: var(--bg);
  color: var(--fg);
}

body {
  margin-inline: auto;
  padding-inline: 1rem;
  min-height: 100vh;
  max-width: 48rem;
  display: grid;
  grid-template-rows: [top] auto [main-start] 1fr [main-end] auto [bottom];
  grid-template-columns: minmax(0, 1fr);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  line-height: 1.5;
  color: var(--fg);
}

h1 {
  font-size: 1.75rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.2rem;
}

h4 {
  font-size: 1.1rem;
}

h5,
h6 {
  font-size: 1rem;
}

blockquote {
  color: var(--fg75);
  margin-block: 1.5rem;
  padding-inline: 1.5rem;
  border-left: 0.25rem double var(--item-border);
}

hr {
  margin-block: 2rem;
  color: var(--ui-border);
  border-top-width: 1.5px;
}

.budoux {
  word-break: keep-all;
  overflow-wrap: anywhere;
}

.cjk_fallback {
  font-family: "IBM Plex Sans Variable", sans-serif;
}

.accent-color {
  color: var(--accent);
}

@keyframes blink {
  0% {
    color: currentcolor;
  }
  100% {
    color: transparent;
  }
}

.tenten {
  position: relative;

  &:before {
    position: absolute;
    content: "";
    bottom: 120%;
    left: calc(50% - .125em);
    width: .25em;
    height: .25em;
    background: var(--fg);
    border-radius: 50%;
    text-align: center;
  }
}

.tenten.blink {
  &:before,
  &:after {
    animation: blink 1s ease-in-out infinite alternate;
  }
}
