:root {
  --fg: #1c1b22;
  --bg: #f7f7fa;
  --title: #191724;
  --secondary: #49484e;
  --hover: #edebef;
  --line: #8a829955;
  --shadow: #1c1b2266;
  --link: #2c4e96;
  --code: #e8e8e8;
  --nextbg: #1c1b22;
  --prevfg: #1c1b22;
  --codehl: #403d52;
  --codehlsign: #5de4c7;
  --codefind: #add7ff40;
  --codelinenum: #767c9d50;
  --codetitlebg: #303340;
  --codetitlefg: #a6accd;
  --mermaidbg: #edebef;
  --avangard1: #fb0500dd;
  --avangard2: #305157ee;
  --avangard3: #949587;
}

@media (prefers-color-scheme: dark) {
  :root {
    --fg: #f7f7fa;
    --bg: #1c1b22;
    --title: #f7f7fa;
    --secondary: #a4a3a6;
    --hover: #323138;
    --line: #8a829955;
    --shadow: #d2ced966;
    --link: #f472b6;
    --code: #49484e;
    --nextbg: #abbf86;
    --prevfg: #abbf86;
    --codehl: #403d52;
    --codehlsign: #f472b6;
    --codefind: #add7ff40;
    --codelinenum: #767c9d50;
    --codetitlebg: #303340;
    --codetitlefg: #a6accd;
    --mermaidbg: #edebef;
    --avangard1: #fb0500dd;
    --avangard2: #446267;
    --avangard3: #949587;
  }
}

body {
  font-family: "Montserrat Variable", "Helvetica Neue", "Helvetica",
    "Apple Color Emoji", "Segoe UI Emoji", "NotoColorEmoji", "Noto Color Emoji",
    "Segoe UI Symbol", "Android Emoji", "EmojiSymbols", "-apple-system",
    "BlinkMacSystemFont", "Segoe UI", "Roboto", "Noto Sans", "sans-serif";
  -webkit-text-size-adjust: 100%;
  background: var(--bg);
  color: var(--fg);
  line-height: 1.75;

  margin: 0 auto;
  display: flex;
  padding-left: 1rem;
  padding-right: 1rem;
  flex-direction: column;
  justify-content: space-between;
  max-width: 48rem;
  min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  line-height: 1.5;
}

h1 {
  font-size: 1.875rem;
}

h2 {
  font-size: 1.625rem;
}

h3 {
  font-size: 1.25rem;
}

h4 {
  font-size: 1.125rem;
}

h5,
h6 {
  font-size: 1rem;
}

blockquote {
  color: gray;
  margin: 1.5rem 0;
  padding: 0 1.5rem;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 0.3rem;
    left: 0;
    background: var(--line);
  }
}
