.Container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.Button {
  border: none;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}
