@use "styles/variable" as var;
@use "styles/lib";

@include lib.posttop;

.TagList {
  margin: 0 1rem;
  .TagTile {
    display: inline-block;
    list-style: none;
    color: var(--title);
    border: 1px solid var(--line);
    border-radius: 0.25rem;
    margin: 0.5rem;
    padding: 0 0.5rem;
    font-size: 125%;
    transition-property: text-decoration, background;
    transition-duration: 0.1s;
    transition-timing-function: ease;
    &:hover{
      text-decoration: underline;
      background: var(--hover);
    }
  }
}

