@use "styles/variable" as var;

.ArticleList {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  list-style: none;

  .ArticleTile {
    border-radius: 5px;
    padding: 1rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    transition: background 0.1s;
    transition-timing-function: cubic-bezier(.4,0,.2,1);

    &:hover {
      background: var(--hover);
    }

    .TileTitle {
      color: var(--title);
      h2 {
        max-height: 8rem;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
    .TilePreview {
      overflow: hidden;
      padding-top: 0.375rem;
      color: var(--foreground);
    }

    .TileDate {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      color: var(--subtitle);
    }
    .TileTags {
      display: flex;
      gap: 10px;
      a:hover {
        text-decoration: underline;
      }
    }
  }
}
