{
  "presets": ["next/babel"],
  "plugins": [
    ["inline-react-svg"],
    [
      "module-resolver",

      {
        "root": ["."]
      }
    ],
    [
      "prismjs",
      {
        "languages": [
          "javascript",
          "bash",
          "c",
          "cpp",
          "css",
          "markup",
          "bash",
          "diff",
          "docker",
          "git",
          "go",
          "json",
          "markdown",
          "python",
          "jsx",
          "toml",
          "tsx",
          "regex",
          "rust",
          "typescript",
          "vim",
          "yaml"
        ],
        "plugins": ["line-numbers"],
        "css": true
      }
    ]
  ]
}
