@use "variable" as var;
@use "lib";

#Wrapper {
  display: flex;
  flex-flow: column;
  align-items: flex-end;
  gap: var.$element_gap;
  padding: var.$element_gap 0;
  position: relative;
  min-height: 100vh;
  @media (min-width: var.$media_border) {
    font-size: 1.1rem;
  }

  @include lib.color;

    // vertical line
    &::after {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: var.$line_left_margin;
      height: 100%;
      width: var.$line_width;
      background-color: var.$dark;
      color: var.$dark;
    }


  header {
    display: flex;
    flex-direction: column;
    width: var.$main_width;
    gap: 20px;

    .Date {
      margin-right: 1rem;
      text-decoration: none;
    }

    span {
      display: inline-block;
      margin: 0 0.5rem;
      list-style: none;
      text-decoration: underline;
    }

    a {
      text-decoration: underline;
    }
  }

  main {
    width: var.$main_width;

    #Title {
      color: var.$dark;
      position: relative;
      width: calc(var.$main_width - var.$line_width * 2);
      margin-bottom: calc(var.$line_width + var.$line_bottom_margin * 2);
      font-size: 2.5rem;

      // horizontal line
      &::after {
        content: "";
        position: absolute;
        display: block;
        left: 0;
        margin-top: var.$line_bottom_margin;
        height: var.$line_width;
        width: var.$main_width;
        background-color: var.$dark;
        color: var.$dark;
      }
    }

    article {
      width: 70vw;
      margin-top: calc(var.$line_width + 2.5rem);
      @include lib.colored_link;
      @include lib.article_paragraph;
      @include lib.table;
      @include lib.code_inline;
      @include lib.code_block;
      @include lib.katex;
      @include lib.quote;
      @include lib.list;
      @include lib.imagelimit;
      @include lib.article_headlines;
      @include lib.footnotes;
    }
  }
}
