@use "variable" as var;
@use "lib";

#Wrapper {
  display: flex;
  flex-flow: column;
  align-items: flex-end;
  position: relative;
  min-height: 100vh;
  width: 100%;
  @media (min-width: var.$media_border) {
    font-size: 1.1rem;
  }

  @include lib.color;

  #Container {
    width: var.$container;
    display: flex;
    flex-flow: column;
    padding-right: var.$line_width;
    padding-top: var.$line_bottom_margin;
    gap: var.$line_bottom_margin;
  }

  // vertical line
  &::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: calc(var.$container + var.$line_width);
    height: 100%;
    width: var.$line_width;
    background: var(--bar);
    transition-property: background;
    transition-duration: 0.2s;
    transition-timing-function: ease;
  }

  header {
    display: flex;
    flex-direction: column;
    max-width: var.$inner_width;
    width: 100%;
    gap: 20px;

    .Title {
      display: flex;
      justify-content: space-between;
    }

    .TopLink {
      display: flex;
      align-items: center;
      @include lib.title_color;
    }

    .Date {
      margin-right: 1rem;
      text-decoration: none;
    }

    #Title {
      @include lib.title_color;
      position: relative;
      margin-bottom: calc(var.$line_width + var.$line_bottom_margin);
      font-size: 2.5rem;

      // horizontal line
      &::after {
        content: "";
        position: absolute;
        display: block;
        left: 0;
        margin-top: var.$line_bottom_margin;
        height: var.$line_width;
        width: var.$container;
        background: var(--bar);
        transition-property: background;
        transition-duration: 0.2s;
        transition-timing-function: ease;
      }
    }
  }

  main {
    @include lib.article;
  }
}
