@use "cursor_animation" as cursor;
@use "variable" as var;
@use "lib";

#Wrapper {
  @include lib.color;
  background: var(--background);
  color: var(--title);

  header {
    display: flex;
    justify-content: center;
  }

  .Red {
    color: var.$red;
  }

  .Yellow {
    color: var.$yellow;
  }

  .Green {
    color: var.$green;
  }

  .Cyan {
    color: var.$cyan;
  }

  .Blue {
    color: var.$blue;
  }

  .Magenta {
    color: var.$magenta;
  }

  #HeaderBox {
    max-width: var.$inner_width;
    width: 100%;
    padding: 3rem 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  #Main {
    padding: 0 1rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
  }

  #Card {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2em;
  }

  #IconImage {
    object-fit: cover;
    border-radius: 50%;
    width: 175px;
    height: 175px;
  }

  #Name {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--title);
    font-size: 150%;
  }

  article {
    max-width: var.$inner_width;
    width: 100%;
    overflow-wrap: break-word;
    word-wrap: break-word;

    @include lib.colored_link;
    @include lib.article_paragraph;
    @include lib.table;
    @include lib.code_inline;
    @include lib.code_block;
    @include lib.katex;
    @include lib.mermaid;
    @include lib.quote;
    @include lib.list;
    @include lib.article_headlines;
    @include lib.footnotes;
  }
}
