@mixin keyframes($animation_name) {
/*   @-webkit-keyframes #{$animation-name} {
    @content;
  }
  @-moz-keyframes #{$animation-name} {
    @content;
  }  */
  @keyframes #{$animation-name} {
    @content;
  }
}

@mixin animation($animation_name) {
  -webkit-animation: $animation-name;
  -moz-animation: $animation-name;
  animation: $animation-name;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  animation-fill-mode: both;
}

@mixin appear($wait) {
  overflow: hidden;
  white-space: nowrap;
  @include keyframes(appear) {
    from {
      width: 0;
    }
  }

  @include animation(appear $wait steps(1));
}
