@use "variable" as var;
@use "lib";

@include lib.reset_global;

:root {
  --foreground: #{var.$fg};
  --background: #{var.$bg};
  --title: #{var.$title};
  --bar: #{var.$bar};
  --subtitle: #{var.$subtitle};
  --hover: #{var.$hover};
  --line: #{var.$line};
  --shadow: #{var.$shadow};
  --link: #{var.$blog_link};
  --code: #{var.$code};
  --nextbg: #{var.$nextbg};
  --prevfg: #{var.$prevfg};
  --docsbg: #{var.$docsbg};
  --codebg: #{var.$codebg};
  --codefg: #{var.$codefg};
  --codehl: #{var.$codehl};
  --codefind: #{var.$codefind};
  --codelinenum: #{var.$codelinenum};
  --codetitlebg: #{var.$codetitlebg};
  --codetitlefg: #{var.$codetitlefg};
}

[data-theme="dark"] {
  --foreground: #{var.$fg-night};
  --background: #{var.$bg-night};
  --title: #{var.$title-night};
  --bar: #{var.$bar-night};
  --subtitle: #{var.$subtitle-night};
  --hover: #{var.$hover-night};
  --line: #{var.$line-night};
  --shadow: #{var.$shadow-night};
  --link: #{var.$blog_link-night};
  --code: #{var.$code-night};
  --nextbg: #{var.$nextbg-night};
  --prevfg: #{var.$prevfg-night};
  --docsbg: #{var.$docsbg-night};
  --codebg: #{var.$codebg-night};
  --codefg: #{var.$codefg-night};
  --codehl: #{var.$codehl-night};
  --codefind: #{var.$codefind-night};
  --codelinenum: #{var.$codelinenum-night};
  --codetitlebg: #{var.$codetitlebg-night};
  --codetitlefg: #{var.$codetitlefg-night};
}
