@import "variable.scss";

.container {
  padding: 0px;
  min-width: 800px;

  .main {
    padding: 0px;
    background-color: #f8f8f2;

    .tree {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;

      .icon_wrapper {
        position: absolute;
        width: 100px;
        height: 100px;
        z-index: 10;
        border-radius: 50%;
/*        box-shadow: -4px -4px 8px 0px white;

          &::after {
          content: '';
          display: block;
          position: absolute;
          border-radius: 50%;
          z-index: -1;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: $shadow;
          filter: blur(20px);
          transform: translate(6px, 6px) scale(1.0);
          mix-blend-mode: multiply;
        }*/

        a {
          .icon_tip {
            display: none;
            position: absolute;
            text-align: center;
            font-size: 20px;
            color: #f8f8f2;
            border-radius: 50%;
            background: #ff5555;
            width: 30px;
            height: 30px;
            font-weight: bold;
            box-shadow:
              3px 3px 9px 0 $shadow,
              -3px -3px 9px 0 white;

            &:before {
              content: "";
              position: absolute;
              top: 21px;
              right: 67%;
              border: 7px solid transparent;
              border-top: 7px solid #ff5555;
              margin-left: -15px;
              transform: rotateZ(45deg);
            }
          }

          &:hover > .icon_tip {
            display: inline-block;
            top: -23px;
            left: 77px;
          }

          .icon {
            position: relative;
            border-radius: 50%;
            border: 5px solid $haxibami_color !important;
          }
        }
      }

      @each $brandname, $values in $brands {
        .#{$brandname}_box {
          position: absolute;
          display: flex;
          justify-content: center;
          align-items: center;
          transform: translateY(calc(-1 * #{nth($values, 8)} / 2));
          width: nth($values, 8); height: nth($values, 8);
          border-radius: 50%;

          a {
            .#{$brandname}_wrapper {
              position: absolute;
              display: flex;
              justify-content: center;
              align-items: center;
              overflow: visible;
              transform-origin: calc(50% - #{nth($values, 6)}) calc(50%);
              transform: rotate(nth($values, 7));
              left: #{nth($values, 6)};
              width: nth($values, 8); height: nth($values, 8);
              z-index: 10;
              border-radius: 50%;

              &::after {
                content: "";
                position: absolute;
                width: 100%; height: 100%;
                transform: rotate(calc(-1 * #{nth($values, 7)}));
                background: linear-gradient(to bottom right, nth($values, 1), nth($values, 2));
                border-radius: 50%;
                box-shadow:
                  4px 4px 8px 0px $shadow,
                  -3px -3px 10px 0px white, 
                  4px 4px 8px 0px transparent inset, 
                  -4px -4px 8px 0px transparent inset;
                transition: box-shadow 0.5s;
                transition-property: box-shadow;
                transition-duration: 0.5s;
                transition-timing-function: ease;
                transition-delay: 0s;
              }

              &:hover::after {
                box-shadow: 
                  4px 4px 8px 0px transparent, 
                  -3px -3px 8px 0px transparent, 
                  3px 3px 9px 0px nth($values, 3) inset, 
                  -3px -3px 9px 0px nth($values, 4) inset;
              }

              .#{$brandname} {
                position: absolute;
                width: nth($values, 9); height: nth($values, 9);
                z-index: 10;
                transform: rotate(calc(-1 * #{nth($values, 7)}));
                color: nth($values, 5);
              }

            }
          }
        }
      }
    }
  }
}
  /*
  .footer {
    width: 100%;
    height: 100px;
    border-top: 1px solid #eaeaea;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .footer a {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
  }

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
  margin-top: 3rem;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  width: 45%;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}



.logo {
  height: 1em;
  margin-left: 0.5rem;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
*/
