@use "variable" as var;
@use "lib";

#Wrapper {
  display: flex;
  flex-flow: column;
  min-height: 100vh;
}

.Main {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}

.Container {
  padding-top: 270px;
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  gap: 30px;
  font-family: var(--red-october), sans-serif;

  h1 {
    font-size: 4rem;
    line-height: 1;
    margin: 0;
  }

  h2 {
    font-size: 3rem;
    line-height: 1;
    margin: 0;
  }

  h3 {
    font-size: 2rem;
    line-height: 1;
    margin: 0;
  }
}

.Title {
  rotate: -35deg;
  display: flex;
  align-items: flex-start;
  /* overflow-wrap: anywhere; */
  position: relative;
  /* vertical line */
  &::before {
    content: "";
    position: absolute;
    right: 0;
    height: 200%;
    width: 50px;
    background: #fb0500;
    bottom: calc(100% + 15px);
    z-index: -1;
  }
  &::after {
    content: "";
    position: absolute;
    right: 60px;
    height: 150%;
    width: 50px;
    background: #66606c;
    bottom: calc(100% + 15px);
    z-index: -1;
  }
}

.Box {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    right: 60%;
    bottom: calc(100% + 15px);
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 25px 60px 25px 0;
    border-color: transparent #ffd000 transparent transparent;
    z-index: -1;
    rotate: 40deg;
  }
  &::after {
    content: "";
    position: absolute;
    right: 70%;
    bottom: calc(100% + 45px);
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: var(--foreground);
    z-index: -1;
  }
}

.Placeholder {
  rotate: -35deg;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    right: 4em;
    top: 1em;
    width: 30px;
    height: 30px;
    background: var(--foreground);
  }
  &::after {
    content: "";
    position: absolute;
    right: 3em;
    top: 2em;
    width: 30px;
    height: 30px;
    background: var(--foreground);
  }
}

.Desc {
  rotate: -35deg;
  display: flex;
  flex-direction: column;
  writing-mode: vertical-rl;
  text-orientation: mixed;
  margin-right: 80px;
  overflow: hidden;
  &::before {
    content: "";
    position: absolute;
    right: 40%;
    top: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 100px 20px 0 20px;
    border-color: #fd5404 transparent transparent transparent;
    z-index: -1;
  }
  &::after {
    content: "";
    position: absolute;
    right: 40%;
    bottom: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 100px 20px 0 20px;
    border-color: #fb0500 transparent transparent transparent;
    z-index: -1;
  }
}

#ArticleBox {
  width: 100%;
  max-width: 50rem;
  padding: 0 2.5rem;
  @include lib.article;
}
