@use "variable" as var;

#Wrapper {
  #Main {
    min-width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;

    canvas {
      z-index: -1;
    }
    
    #ThemeChanger {
      position: absolute;
      right: 50px;
      top: 50px;
    }

    #Icon_box {
      position: absolute;
      width: 100px;
      height: 100px;
      border-radius: 50%;
      border: 5px solid var.$blue;
      overflow: hidden;
    }

    @each $brandname, $values in var.$brands {
      ##{$brandname}_box {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        left: calc(50% - 0.5 * nth($values, 8) + nth($values, 6));
        transform-origin: calc(0.5 * nth($values, 8) - nth($values, 6)) calc(0.5 * nth($values, 8));
        transform: rotate(nth($values, 7));
        width: nth($values, 8);
        height: nth($values, 8);
        border-radius: 50%;
        background: linear-gradient(calc(135deg - nth($values, 7)), nth($values, 1), nth($values, 2));

        a {
          width: 100%;
          height: 100%;
          border-radius: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
          transform: rotate(- nth($values, 7));
        }

        ##{$brandname} {
          color: nth($values, 5);
        }
      }
    }
  }
}
