@import "variable.scss";

#Wrapper {
  color: $grad-1;

  table {
  table-layout: fixed;
  border-collapse: collapse;
  text-align: center;
  color: $dark;

    th, td {
    border: 1px solid $line;
    padding: 0.25rem 0.5rem;
    }

    th {
    background: $white;
    }
  }

  p {
    code {
      background: $white;
      padding: 0.2rem;
      border-radius: 0.2rem;
      font-family: Menlo, Monaco, "Andale Mono", "DejaVu Sans Mono", "Courier New", Courier, monospace;
    }
  }

  pre {
    width: 100%;
    code {
      width: 100%;
      @media (max-width: 800px) {
        font-size: 80%;
      }
    }
  }
}
