@use "variable" as var;
@use 'sass:math';
@font-face {
  font-family: "Noto Sans CJK JP";
  font-style:  normal;
  font-weight: normal;
  src: url("data:font/woff2;charset=utf-8;base64,${notocjk_reg}") format('woff2');
}
@font-face {
  font-family: "Noto Sans CJK JP";
  font-style:  normal;
  font-weight: bold;
  src: url("data:font/woff2;charset=utf-8;base64,${notocjk_bol}") format('woff2');
}
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap');

$card_margin: 50px;
$left_width: 225px;
$round_size: 30px;
$stripe: 46px;

$bg: #e4e1e8;
$inner_bg: #edebef;
$tile_shadow: #c2bfc5;

* {
  margin: 0;
  padding: 0;
}

html, body {
  width: 100%;
  height: 100%;
  background: $bg;
  font-family: "Noto Sans CJK JP", "Noto Sans JP", sans-serif;
  font-size: 125%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

#Wrapper {
  width: calc(1200px - $card_margin * 2);
  height: calc(630px - $card_margin * 2);
  display: flex;
  flex-direction: row;
  gap: 50px;
  //border-radius: 50px;
}

#Left {
  display: flex;
  flex-direction: column;
  width: $left_width;
  height: 100%;
  border-radius: 50px;
  background: linear-gradient(to right bottom, #ffffff05, #00000005);
  box-shadow:  10px 10px 20px $tile_shadow,
             -10px -10px 20px #ffffff;


  img {
    margin: auto;
    margin-top: 25px;
    border-radius: 50%;
    border: 5px solid var.$grad-2;
  }
  h3 {
    font-size: 175%;
    display: flex;
    align-items: center;
    width: 100px;
    writing-mode: vertical-rl;
    font-family: "Roboto mono", monospace;
    margin: auto;
  }
}

#Right {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
  height: 100%;
  gap: 20px;
  border-radius: 50px;
  background: linear-gradient(to right bottom, #ffffff05, #00000005);
  box-shadow:  10px 10px 20px $tile_shadow,
             -10px -10px 20px #ffffff;

  #Title {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 75px;
    margin-bottom: 0;
    overflow: hidden;
    p {
      overflow: hidden;
      max-height: 100%;
    }
  }
  #Host {
    display: flex;
    text-align: center;
    justify-content: center;
    margin: 75px;
    margin-top: 0;
    font-size: 150%;
  }
}
