@use "variable" as var;
@use 'sass:math';

/*@font-face {
  font-family: "Noto Sans CJK JP";
  font-style:  normal;
  font-weight: bold;
  src: url("https://raw.githubusercontent.com/haxibami/Noto-Sans-CJK-JP/master/fonts/NotoSansCJKjp-Bold.woff2") format("woff2");
}*/

/*@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');*/
/*@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap');*/

$card_margin: 50px;
$item_gap: 30px;

$bg:var.$grad-0;
$inner_bg: var.$dark;

* {
  margin: 0;
  padding: 0;
  font-display: swap;
}

html, body {
  width: 100%;
  height: 100%;
  background: $bg;
  font-family: "Noto Sans CJK JP", "Noto Sans JP", sans-serif;
  font-size: 125%;
  color: var.$light;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right bottom, var.$red, var.$magenta);
}

#Wrapper {
  margin: $card_margin;
  background: white;
  grid-gap: $item_gap;
  border-radius: 30px;
  background: $inner_bg;
  box-shadow:
    10px 10px 20px var.$shadow,
    -10px -10px 20px var.$shadow;
  padding: $card_margin;
  display: grid;
  grid-template-rows: 280px 100px;
  grid-template-columns: 700px 250px;
  grid-template-areas:
    "Title Title"
    "Name Date";

  #Title {
    font-size: 60px;
    grid-area: Title;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    p {
      max-height: 100%;
      overflow-wrap: anywhere;
    }
  }

  #Name {
    grid-area: Name;
    display: flex;
    align-items: center;
    gap: 20px;

    img {
      border-radius: 50%;
    }
  }

  #Date {
    grid-area: Date;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-family: "Roboto Mono", monospace;
  }
}
