@use "variable" as var;
@use 'sass:math';
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap');

$card_margin: 50px;
$left_width: 225px;
$round_size: 30px;
$stripe: 46px;

$bg: #292433;
$inner_bg: #f3f3f6;

* {
  margin: 0;
  padding: 0;
}

html, body {
  width: 100%;
  height: 100%;
  background: $bg;
  font-family: 'Noto Sans CJK JP', sans-serif;
  font-size: 125%;
}

$blue: #9986bfbb;
$magenta: #a6b4decc;
$cyan: #86bfb6cc;
$green: #abbf86cc;
$yellow: #d9c77ecc;
$red: #d9989ccc;

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: repeating-linear-gradient(to left bottom, 
    transparent, transparent $stripe, 
    $cyan $stripe, $cyan calc($stripe * 2),
    transparent calc($stripe * 2), transparent calc($stripe * 3),
    $red calc($stripe * 3), $red calc($stripe * 4),
    /*transparent calc($stripe * 4), transparent calc($stripe * 5),
    $cyan calc($stripe * 5), $cyan calc($stripe * 6),
    transparent calc($stripe * 6), transparent calc($stripe * 7),
    $red calc($stripe * 7), $red calc($stripe * 8),
    transparent calc($stripe * 8), transparent calc($stripe * 9),
    $cyan calc($stripe * 9), $cyan calc($stripe * 10),
    transparent calc($stripe * 10), transparent calc($stripe * 11),
    $red calc($stripe * 11), $red calc($stripe * 12)*/);
}

#Wrapper {
  width: calc(1200px - $card_margin * 2);
  height: calc(630px - $card_margin * 2);
  background: white;
  display: flex;
  flex-direction: row;
  border-radius: 50px;
  background: $inner_bg;
  box-shadow: 30px 30px 60px var.$shadow,
  -10px -10px 20px var.$shadow;
}

#Left {
  display: flex;
  flex-direction: column;
  width: $left_width;
  height: 100%;

  &::before {
    position: relative;
    top: 0;
    left: $left_width - math.div($round_size, 2);
    width: $round_size;
    height: math.div($round_size, 2);
    background: $bg;
    border-radius: 0 0 math.div($round_size, 2) math.div($round_size, 2);
    content: "";
  }

  &::after {
    position: relative;
    bottom: 0;
    left: $left_width - math.div($round_size, 2);
    width: $round_size;
    height: math.div($round_size, 2);
    background: $bg;
    border-radius: math.div($round_size, 2) math.div($round_size, 2) 0 0;
    content: "";
  }

  img {
    margin: auto;
    margin-top: 25px;
    border-radius: 50%;
    border: 5px solid var.$grad-2;
  }
  h3 {
    font-size: 175%;
    display: flex;
    align-items: center;
    width: 100px;
    writing-mode: vertical-rl;
    font-family: "Roboto mono", monospace;
    margin: auto;
  }
}

#Right {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
  height: 100%;
  width: 883px;
  background-image : linear-gradient(to bottom, var.$shadow, var.$shadow 12px, transparent 12px, transparent 24px); 
  background-size: 4px 24px;
  background-position: left top;
  background-repeat: repeat-y;
  gap: 20px;

  #Title {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 75px;
    margin-bottom: 0;
    overflow: hidden;
    p {
      overflow: hidden;
      max-height: 100%;
    }
  }
  #Host {
    display: flex;
    text-align: center;
    justify-content: center;
    margin: 75px;
    margin-top: 0;
    font-size: 150%;
  }
}
