@import "animation.scss";
@import "variable.scss";

.container {
  padding: 0px;

  .main {
    padding: 0px;
    min-height: 100vh;
    background-color: $bg-light;
    display: flex;
    justify-content: center;
    align-items: center;

    .console {
      position: relative;
      margin: 15px;
      padding: 0px;
      background-color: $bg-dark;
      color: $fg;
      border-radius: 5px;
      font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, Courier, monospace;
      max-width: 800px;
      z-index: 10;
      line-height: 1.5;
/*      box-shadow: 0 10px 25px 0 $shadow;*/

      &::after {
        content: '';
        display: block;
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        background-color: $shadow;
        filter: blur(10px);
        transform: translate(5px, 5px) scale(1.02);
        mix-blend-mode: unset;
      }

      .titlebar {
        position: relative;
        background-color: silver;
        border-radius: 5px 5px 0px 0px;
        padding: 3px;
        color: black;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;

        .windowbutton {
          position: absolute;
          right: 35px;
          width: 15px;
          height: 15px;
          background-color: #ffcc00;
          border-radius: 50%;
          display: inline-block;
          font-size: 12px;


          &::after {
            position: absolute;
            right: -25px;
            content: "";
            width: 15px;
            height: 15px;
            background-color: #ff3b30;
            border-radius: 50%;
          }

          &::before {
            position: absolute;
            left: -25px;
            content: "";
            width: 15px;
            height: 15px;
            background-color: #28cd41;
            border-radius: 50%;
          }
        }
      }
      .console_text {
        margin: 15px;
        .info {
          .infotext {
            max-width: 70%;
          }
        }
      }

      .path {
        color: $yellow;
        text-decoration: underline;
      }

      .yellow {
        color: $yellow;
      }
      .cyan {
        color: $cyan;
      }
      .red {
        color: $red;
      }
      .magenta {
        color: $magenta;
      }
      .green {
        color: $green;
      }
      .blue {
        color: $blue;
      }
      .icon_wrapper {
        margin: 10px 30px 10px 10px;
      }
      .info {
        display: flex;
      }

      a {
        text-decoration: underline;
      } 

      .blinking {
        margin: 1ch;
        border-left: 2px solid transparent;
        @include keyframes(blink) {
          50% {
            border-left-color: currentColor;
          }
        }
        @include animation(blink 1s steps(1) infinite);
      }
    }
  }
}
