$haxibami_color: #bd93f9;
$white: #f8f8f2;
$black: #282a36;
$purple: #bd93f9;
$magenta: #ff79c6;
$cyan: #8be9fd;
$green: #50fa7b;
$yellow: #f1fa8c;
$red: #ff5555;
$orange: #ffb86c;

$shadow: #282a3688;

$brands: (
  About: ($haxibami_color, #f8f8f2, 100px, 230deg, 50px, 30px),
	Twitter: (#1da1f2, #f8f8f2, 250px, 140deg, 50px, 30px),
  Instagram: (#f56040, #f8f8f2, 250px, 120deg, 50px, 30px),
  Mail: (#3c379e, #f8f8f2, 200px, 100deg, 50px, 30px),
  Github: (#333, #f8f8f2, 150px, 5deg, 50px, 35px),
  Bookmark: (#ffb86c, #f8f8f2, 150px, 150deg, 50px, 25px),
  Book: (#ff79c6, #f8f8f2, 150px, -90deg, 50px, 25px),
  Blog1: (#8be9fd, #f8f8f2, 200px, 65deg, 50px, 30px),
  Blog2: (#50fa7b, #f8f8f2, 200px, 35deg, 50px, 30px),
  Write: (#282a36, #f8f8f2, 200px, -25deg, 50px, 30px),
  Poem: (#ff5555, #f8f8f2, 200px, -55deg, 50px, 30px),
  Spotify: (#1db954, #f8f8f2, 150px, 190deg, 50px, 30px)
);
