---
export type Props = {
  // src: string;
  "data-image-parent"?: boolean;
  "data-image-alt"?: string;
  // blurDataURL: string;
};

const props = Astro.props;
---

{
  props["data-image-parent"] ? (
    <figure {...props} class="figure">
      <div class="figure-image-container">
        <slot />
      </div>
      <figcaption class="figure-caption">{props["data-image-alt"]}</figcaption>
    </figure>
  ) : (
    <figure {...props}>
      <slot />
    </figure>
  )
}

<style>
  .figure {
    display: flex;
    margin-top: 2rem;
    margin-bottom: 2rem;
    flex-direction: column;
    gap: 1rem;
  }

  .figure-caption {
    text-align: center;
    color: var(--secondary);
  }

  .figure-image-container {
    display: flex;
    margin: 0 auto;
    max-height: 50vh;
    @media (max-width: 640px) {
      max-height: 100vw;
    }
  }
  .figure-image-container :global(img) {
    object-fit: contain;
  }
</style>
