---
import Linkcard from "@/components/Linkcard.astro";

interface Props {
  href: string;
  "data-linkcard"?: string;
}

const props = Astro.props;
---

{
  Object.hasOwn(props, "data-linkcard") ? (
    <Linkcard {...props} />
  ) : (
    <a {...props}>
      <slot />
    </a>
  )
}
