---
import { FediverseIcon, GitHubIcon, RssIcon, XIcon } from "@/components/Svg";
---

<footer data-pagefind-ignore>
  <span>
    <a href="/">©haxibami</a>
  </span>
  <span class="icons">
    <a href={"https://x.com/haxibami"} rel="me" title="X">
      <XIcon class="icon">
        <title>Twitter - @haxibami</title>
      </XIcon>
    </a>
    <a href={"https://calc.cune.moe/@haxibami"} rel="me" title="Fediverse">
      <FediverseIcon class="icon">
        <title>Fediverse (Firefish) - calc.cune.moe</title>
      </FediverseIcon>
    </a>
    <a href={"https://github.com/haxibami"} rel="me" title="GitHub">
      <GitHubIcon class="icon">
        <title>GitHub - haxibami</title>
      </GitHubIcon>
    </a>
    <a href={`/rss.xml`} title="RSS" data-astro-prefetch="false">
      <RssIcon class="icon">
        <title>RSS</title>
      </RssIcon>
    </a>
  </span>
</footer>

<style>
  footer {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid var(--line);
    padding: 2rem 1rem;
    color: var(--secondary);
  }

  .icons {
    display: flex;
    gap: 1rem;
  }

  .icon {
    width: 1.5rem;
    height: 1.5rem;
    fill: var(--secondary);
  }
</style>
