---
import FediverseIcon from "@/assets/svg/fediverse.svg";
import GitHubIcon from "@/assets/svg/github.svg";
import RssIcon from "@/assets/svg/rss.svg";
import XIcon from "@/assets/svg/x.svg";
---

<footer data-pagefind-ignore>
  <span>
    <a href="/">©haxibami</a>
  </span>
  <span class="icons">
    <a href={"https://x.com/haxibami"} rel="me" title="X">
      {/* @ts-expect-error */}
      <XIcon class="icon" title="X / Twitter - @haxibami" />
    </a>
    <a href={"https://hl.cune.moe/@haxibami"} rel="me" title="Fediverse">
      {/* @ts-expect-error */}
      <FediverseIcon class="icon" title="Fediverse (Hollo) - hl.cune.moe" />
    </a>
    <a href={"https://github.com/haxibami"} rel="me" title="GitHub">
      {/* @ts-expect-error */}
      <GitHubIcon class="icon" title="GitHub - haxibami" />
    </a>
    <a href={`/rss.xml`} title="RSS" data-astro-prefetch="false">
      {/* @ts-expect-error */}
      <RssIcon class="icon" title="RSS" />
    </a>
  </span>
</footer>

<style>
  footer {
    grid-row: main-end / bottom;
    display: grid;
    grid-template-columns: 1fr auto;
    justify-content: space-between;
    border-top: 1.5px solid var(--ui-border);
    padding: 2rem 1rem;
    color: var(--fg75);
  }

  .icons {
    display: grid;
    grid-auto-flow: column;
    gap: 1rem;
  }

  .icon {
    width: 1.5rem;
    height: 1.5rem;
    fill: var(--fg75);
  }
</style>
