---
import {
  FediverseIcon,
  GitHubIcon,
  TwitterIcon,
  RssIcon,
} from "@/components/Svg";
---

<footer data-pagefind-ignore>
  <span>
    <a href="/">©haxibami</a>
  </span>
  <span class="icons">
    <a href={"https://twitter.com/haxibami"} rel="me" title="Twitter">
      <TwitterIcon class="icon" />
    </a>
    <a href={"https://calc.cune.moe/@haxibami"} rel="me" title="Fediverse">
      <FediverseIcon class="icon" />
    </a>
    <a href={"https://github.com/haxibami"} rel="me" title="GitHub">
      <GitHubIcon class="icon" />
    </a>
    <a href={`/rss.xml`} title="RSS">
      <RssIcon class="icon" />
    </a>
  </span>
</footer>

<style>
  footer {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid var(--line);
    padding: 2rem 1rem;
    color: var(--secondary);
  }

  .icons {
    display: flex;
    gap: 1rem;
  }

  .icon {
    width: 1.5rem;
    height: 1.5rem;
    fill: var(--secondary);
  }
</style>
