---
import { getEntry } from "astro:content";
import Search from "@/components/Search.astro";

const meta = await getEntry("data", "data");
const { title } = meta!.data.top;

const currentPath = Astro.url.pathname;
---

<header data-pagefind-ignore>
  <ul>
    <li>
      <a href="/" class="name">
        <span class="tenten">{title[0]}</span><sup>2</sup>
      </a>
    </li>
    <li>
      <a
        href="/about"
        class:list={[{ current: currentPath.startsWith("/about") }]}>About</a
      >
    </li>
    <li>
      <a
        href="/blog"
        class:list={[{ current: currentPath.startsWith("/blog") }]}>Blog</a
      >
    </li>
  </ul>
  <Search />
</header>

<style>
  header {
    display: grid;
    grid-row: top / main-start;
    grid-template-columns: 1fr auto;
    width: 100%;
    padding-block: 1rem;
  }

  .name {
    font-weight: 700;
  }

  ul {
    display: flex;
    gap: 2rem;
    align-items: center;
  }

  .current {
    position: relative;
    &:before {
      position: absolute;
      content: "";
      height: 0.5rem;
      width: 0.5rem;
      left: -0.75rem;
      bottom: 25%;
      border-radius: 50%;
      background-color: var(--fg);
    }
  }
</style>
