---
import { getEntry } from "astro:content";

import Search from "@/components/Search.astro";
import "@pagefind/default-ui/css/ui.css";

const meta = await getEntry("data", "meta");
---

<header data-pagefind-ignore>
  <h2>
    <a href="/">{meta.data.top.enTitle}</a>
  </h2>
  <ul>
    <li>
      <Search />
    </li>
    <li>
      <a href={`/blog`}>Blog</a>
    </li>
    <li>
      <a href={`/about`}>About</a>
    </li>
  </ul>
</header>

<style>
  header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 1rem 0;
    height: 5rem;
  }

  h2 {
    display: flex;
    align-items: center;
    font-size: 1.25em;
    color: var(--title);
  }

  ul {
    display: flex;
    gap: 1rem;
    align-items: center;
    font-size: 1.125em;
  }
</style>
