---
import { getEntry } from "astro:content";

const meta = await getEntry("data", "meta");
---

<header>
  <h2>
    <a href="/">{meta.data.top.enTitle}</a>
  </h2>
  <ul>
    <li>
      <a href={`/blog`}>Blog</a>
    </li>
    <li>
      <a href={`/about`}>About</a>
    </li>
  </ul>
</header>

<style>
  header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  h2 {
    display: flex;
    flex-direction: column;
    font-size: 1.25rem;
    line-height: 1.75rem;
    color: var(--title);
  }

  ul {
    display: flex;
    flex-direction: row;
    gap: 1.25rem;
    align-items: center;
    font-size: 1.125rem;
    line-height: 1.75rem;
  }
</style>
