---
import Search from "@/components/Search.astro";
---

<header data-pagefind-ignore>
  <ul>
    <li>
      <a href="/">Home</a>
    </li>
    <li>
      <a href="/about">About</a>
    </li>
    <li>
      <a href="/blog">Blog</a>
    </li>
  </ul>
  <Search />
</header>

<style>
  header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 1rem 0;
    height: 5rem;
  }

  ul {
    display: flex;
    gap: 2rem;
    align-items: center;
  }
</style>
