---
import Linkcard from "@/components/Linkcard.astro";

interface Props {
  href: string;
  ["data-linkcard"]?: string;
}

const props = Astro.props;
---

{
  props["data-linkcard"] ? (
    <Linkcard href={props.href} />
  ) : (
    <a {...props}>
      <slot />
    </a>
  )
}
