---
import type { Page } from "astro";
import type { CollectionEntry } from "astro:content";

import {
  ChevronCircleLeftIcon,
  ChevronCircleRightIcon,
} from "@/components/Svg";

export interface Props {
  page?: Page<CollectionEntry<"blog">>;
  topPath?: string;
}

const { page, topPath } = Astro.props;
---

<nav class:list={!page ? "border" : ""} data-pagefind-ignore>
  {
    page?.url.prev || topPath ? (
      <a href={page?.url.prev || topPath}>
        <span class="pager-button prev-color">
          <ChevronCircleLeftIcon class="nav-icon" />
          {!topPath ? "Prev" : "Top"}
        </span>
      </a>
    ) : (
      <span class="pager-button" />
    )
  }
  {
    page && (
      <>
        <div class="current-page">
          <span>
            {page.currentPage} / {Math.ceil(page.total / page.size)}
          </span>
        </div>

        {page.url.next ? (
          <a href={page.url.next}>
            <span class="pager-button next-color">
              Next
              <ChevronCircleRightIcon class="nav-icon" />
            </span>
          </a>
        ) : (
          <span class="pager-button" />
        )}
      </>
    )
  }
</nav>

<style>
  nav {
    display: flex;
    padding-top: 2rem;
    justify-content: space-between;
    font-size: 1.25rem;
    &.border {
      border-top: 1px solid var(--line);
    }
  }

  .pager-button {
    width: 6rem;
    height: 2rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 300ms;
  }

  .prev-color {
    color: var(--prevfg);

    &:hover {
      background-color: var(--hover);
    }
  }

  .next-color {
    color: var(--bg);
    border-color: var(--nextbg);
    background-color: var(--nextbg);
    &:hover {
      border: 1px solid;
      color: var(--nextbg);
      background-color: var(--bg);
    }
  }

  .nav-icon {
    width: 1rem;
    height: 1rem;
    fill: currentColor;
  }

  .current-page {
    display: flex;
    justify-content: center;
    align-items: center;
  }
</style>
