---
import type { CollectionEntry } from "astro:content";
import type { Page } from "astro";

import ChevronCircleLeftIcon from "@/assets/svg/chevron-left.svg";
import ChevronCircleRightIcon from "@/assets/svg/chevron-right.svg";

interface Props {
  page?: Page<CollectionEntry<"blog">>;
  backTo?: string;
}

const { page, backTo } = Astro.props;
---

<nav data-pagefind-ignore>
  {
    (page?.url.prev || backTo) && (
      <a href={page?.url.prev || backTo} class="button prev">
        <ChevronCircleLeftIcon class="nav-icon" />
        {!backTo ? "Prev" : "Top"}
      </a>
    )
  }
  {
    page && (
      <>
        <div class="current">
          {page.currentPage} in {Math.ceil(page.total / page.size)}
        </div>

        {page.url.next && (
          <a href={page.url.next} class="button next">
            Next
            <ChevronCircleRightIcon class="nav-icon" />
          </a>
        )}
      </>
    )
  }
</nav>

<style>
  nav {
    grid-row: content-end / bottom;
    display: grid;
    grid-template-columns: [left] 5rem [middle-left] 1fr [middle-right] 5rem [right];
    font-size: 1.1em;
  }

  .button {
    width: 5rem;
    display: grid;
    grid-auto-flow: column;
    place-items: center;
    transition-property: background-color, color;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 300ms;
  }

  .prev {
    grid-column: left / middle-left;
    color: var(--fg);

    &:hover {
      background-color: var(--fg10);
    }
  }

  .next {
    grid-column: middle-right / right;
    background-color: var(--fg);
    color: var(--bg);
    border: 1px solid var(--fg);

    &:hover {
      background-color: var(--bg);
      color: var(--fg);
    }
  }

  .nav-icon {
    width: 1rem;
    height: 1rem;
    fill: currentColor;
  }

  .current {
    grid-column: middle-left / middle-right;
    display: grid;
    place-items: center;
  }
</style>
