---
import "@pagefind/default-ui/css/ui.css";
---

<div id="modal" class="hidden">
  <div id="search-container">
    <div id="search"></div>
  </div>
</div>
<button id="modal-button" title="Ctrl + K で検索">
  <div id="modal-button-desktop">
    <span><kbd>Ctrl</kbd>+<kbd>K</kbd></span>
    <span> 🔍 </span>
  </div>
  <div id="modal-button-mobile">
    <span> 🔍 </span>
  </div>
</button>

<style>
  #modal {
    position: fixed;
    top: 0;
    left: 0;
    padding: 2rem;
    width: 100%;
    height: 100%;
    z-index: 50;
    background-color: hsla(223, 13%, 10%, 0.66);
    backdrop-filter: blur(0.25rem);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
    --pagefind-ui-background: var(--bg);
    --pagefind-ui-border: var(--fg25);
    --pagefind-ui-text: var(--fg);
    --pagefind-ui-primary: var(--fg);
    --pagefind-ui-border-width: 1px;
    --pagefind-ui-font: initial;
    --pagefind-ui-tag: color-mix(in srgb, var(--fg10) 95%, var(--fg) 5%);
  }

  #modal.hidden {
    display: none;
  }

  #modal-button-desktop {
    display: flex;
    gap: 0.5rem;
    background-color: color-mix(in srgb, var(--bg) 95%, var(--fg) 5%);
    color: var(--fg75);
    border-radius: 0.5rem;
    padding: 0.25rem 0.5rem;
    & kbd {
      font-size: 0.9em;
      background: var(--bg);
      border: 1px solid var(--fg25);
      padding: 0.1rem 0.2rem;
      margin: 0 0.2rem;
      border-radius: 0.2rem;
    }
  }

  #modal-button-mobile {
    display: none;
  }

  @media (max-width: 768px) {
    #modal-button-desktop {
      display: none;
    }

    #modal-button-mobile {
      display: block;
    }
  }

  #search-container {
    background-color: color-mix(in srgb, var(--bg) 97%, var(--fg) 3%);
    padding: 1.5rem;
    border-radius: 0.5rem;
    max-width: 60rem;
    margin: 0 auto;
    overflow-y: auto;
    max-height: 100%;
  }
</style>

<script>
  // @ts-expect-error - PagefindUI doesn't have types yet
  import { PagefindUI } from "@pagefind/default-ui";

  function initPageFind() {
    new PagefindUI({
      element: "#search",
      showEmptyFilters: false,
      translations: {
        clear_search: "クリア",
        zero_results: "[SEARCH_TERM] に一致する結果は見つかりませんでした",
      },
      // @ts-expect-error - PagefindUI doesn't have types yet
      processResult: function (result) {
        const ogImgPath = new URL(result.meta.image);
        const host = "www.haxibami.net";
        if (ogImgPath.host === host) {
          result.meta.image = ogImgPath.pathname;
        }
      },
    });

    const modalButton = document.querySelector("#modal-button");
    const modal = document.querySelector("#modal");
    const input = document.querySelector(
      ".pagefind-ui__search-input",
    ) as HTMLInputElement | null;

    if (modalButton && modal && input) {
      listen(modalButton, modal, input);
    }

    function listen(
      modalButton: Element,
      modal: Element,
      input: HTMLInputElement,
    ) {
      modalButton.addEventListener("click", () => {
        modal.classList.toggle("hidden");
        input.focus();
      });

      modal.addEventListener("click", (e) => {
        if (e.target === modal) {
          modal.classList.toggle("hidden");
        }
      });

      window.addEventListener("keydown", (e) => {
        if (e.key === "Escape") {
          modal.classList.add("hidden");
        }
        if (e.key === "k" && e.ctrlKey) {
          e.preventDefault();
          modal.classList.toggle("hidden");
          input.focus();
        }
      });
    }
  }

  document.addEventListener("DOMContentLoaded", initPageFind);
</script>
