---
import type { CollectionKey } from "astro:content";

export interface Props {
  tags: string[] | undefined;
  collectionKey: CollectionKey;
}

const { tags, collectionKey } = Astro.props;
---

{
  tags && (
    <ul>
      {tags.map((tag) => (
      <li data-pagefind-filter="tag">
          <a href={`/${collectionKey}/categories/${tag}`} class="tag-link">
            {tag}
          </a>
        </li>
      ))}
    </ul>
  )
}

<style>
  ul {
    display: flex;
    flex-wrap: wrap;
    gap: 0.75rem;
    font-family: var(--font-mono);
    font-size: 0.9em;
  }

  .tag-link {
    padding: 0.125rem 0.25rem;
    border: 1.5px solid var(--fg75);
    &:hover {
      text-decoration: underline;
    }
    &:before {
      content: "#";
    }
  }
</style>
