---
import type { CollectionKey } from "astro:content";

interface Props {
  tags: string[] | undefined;
  collectionKey: CollectionKey;
  [key: string]: any;
}

const { tags, collectionKey, ...rest } = Astro.props;
---

{
  tags && (
    <ul {...rest}>
      {tags.map((tag) => (
        <li data-pagefind-filter="tag">
          <a href={`/${collectionKey}/categories/${tag}`}>{tag}</a>
        </li>
      ))}
    </ul>
  )
}

<style>
  ul {
    display: flex;
    flex-wrap: wrap;
    gap: 0.75rem;
    font-family: var(--font-mono);
    font-size: 0.8em;
  }

  li {
    padding-inline: 0.25rem;
    border: 1.5px solid var(--ui-border);
    &:hover {
      text-decoration: underline;
    }
    &:before {
      content: "#";
    }
  }
</style>
