@use "styles/variable" as var;
//@use "styles/init";

  .Tip {
    top: 0;
    left: 0;
    width: 100px;
    height: 100px;
    margin: 1rem;
    position: fixed;
    color: var.$tip_fg;

    display: grid;
    grid-template-columns: repeat(2, 40px);
    grid-gap: 2rem;

    &::after{
      content: "";
      position: fixed;
      width: 0;
      height: 0;
      top: 0;
      left: 0;
      z-index: -1;
      border-top: var.$tip_width solid var.$tip_color;
      border-bottom: var.$tip_width solid transparent;
      border-left: var.$tip_width solid var.$tip_color;
      border-right: var.$tip_width solid transparent;
    }

  svg {
    width: 40px;
    height: 40px;
  }
  }
